<phpunit bootstrap=".tests/phpunit/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <php>
        <const name="WP_MULTISITE" value="1" />
        <const name="WP_TESTS_MULTISITE" value="1" />
        <const name="RUNNING_UNIT_TESTS" value="true" />
    </php>
    <testsuites>
        <testsuite>
            <directory prefix="class-" suffix=".php">content/plugins-mu/dflds-api-pusher/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
